<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chlorine.water.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.chlorine.water.entity.Role">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="info" column="info" jdbcType="VARCHAR"/>
        <result property="numb" column="numb" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,state,
        info,numb
    </sql>
</mapper>
